/*Reset all*/
#relative_nav, #relative_nav *{
	margin:0;
	padding:0;
	list-style:none;
	position:relative;
}

#relative_nav a,
#relative_nav div.expander{
	display:inline-block;
	margin:5px 0;
	cursor:pointer;
}

/* Parents */
#relative_nav .rents{
	font-weight:bold;
}
#relative_nav .rents,
#relative_nav .rents *{
	display:inline-block;
}
#relative_nav .rents div{
	background:#FFF;
	padding:0 5px;

	display:none;
	position:absolute;
	z-index:1;
	width:auto;
	white-space:nowrap;	
}
#relative_nav .rents li{
	display:inline;
}
#relative_nav .rents li::before{
	content:"<";
	padding-right:5px;
}
#relative_nav .rents:hover div{
	display:inline-block;
}

/* Kids */
#relative_nav .kids{
}
#relative_nav .kids li li{
	margin-left:1em;
}

#relative_nav .kids li{
	display:block;
}
#relative_nav .kids li>ul{
	display:none;
}
/* Expander */
#relative_nav .expander{
	content:"+";
	position:absolute;
	top:0;
	left:-2em;
	padding:0 5px;
}
#relative_nav .expander:hover{
	text-shadow:1px 1px 1px rgba(0,0,0,.5);
}
/* Selected */
#relative_nav .sel a::before{
	content:">";
	margin-left:-1em;
	padding-right:5px;
}
